<%= form_tag(search_voters_path, method: "post") do %>
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-offset-1">

          <div class="row">
            <div class="col-md-2">
              <%= label_tag "Voted In Any"  %><br>
            </div>
            <div class="col-md-8">
              <%= select_tag :voted_in_any_ids, options_from_collection_for_select(Election.order(:name), :id, :name), { :multiple => true, class: "form-control"}  %>
            </div>
          </div>
          <br/><br/>
          <div class = "panel panel-default">
            <div class = "panel-body">
              <div class="row">
                <div class="col-md-2">
                  <%= label_tag "Voted In All" %><br>
                </div>
                <div class="col-md-8">
                  <%= select_tag :voted_in_all_ids, options_from_collection_for_select(Election.order(:name), :id, :name), { :multiple => true, class: "form-control"}  %>
                </div>
              </div>
              <br/><br/>
              <div class="row">
                <div class="col-md-2">
                  <%= label_tag "or at least" %><br>
                </div>
                <div class="col-md-8">
                  <%= text_field_tag :voted_in_x,"",class: "form-control"  %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  &nbsp;
                </div>
                <div class="col-md-8">
                  <span>of these elections</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-2">
              <%= label_tag "Did Not Vote In" %><br>
            </div>
            <div class="col-md-8">
              <%= select_tag :not_voted_in_ids, options_from_collection_for_select(Election.order(:name), :id, :name), { :multiple => true, class: "form-control"}  %>
            </div>
          </div>
          <br/><br/>
          <div class="row">
            <div class="col-md-2">
              <%= label_tag "Vote Method" %><br>
            </div>
            <div class="col-md-8">
              <%= select_tag :vote_method_ids, options_from_collection_for_select(VoteMethod.order(:name), :id, :name), { :multiple => true, class: "form-control"}  %>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="actions pull-right">
          <%= submit_tag "Search", class: "btn btn-primary" %>
        </div>
      </div>
    </div>

<% end %>


