<p id="notice"><%= notice %></p>

<p>
  <strong>Un:</strong>
  <%= @voter.un %>
</p>

<p>
  <strong>Party:</strong>
  <%= @voter.party %>
</p>

<p>
  <strong>Dp:</strong>
  <%= @voter.dp %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @voter.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @voter.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @voter.middle_name %>
</p>

<p>
  <strong>Suffix name:</strong>
  <%= @voter.suffix_name %>
</p>

<p>
  <strong>Ascension:</strong>
  <%= @voter.ascension %>
</p>

<p>
  <strong>Reg date:</strong>
  <%= @voter.reg_date %>
</p>

<p>
  <strong>Condition date:</strong>
  <%= @voter.condition_date %>
</p>

<p>
  <strong>Org reg date:</strong>
  <%= @voter.org_reg_date %>
</p>

<p>
  <strong>Dist date:</strong>
  <%= @voter.dist_date %>
</p>

<p>
  <strong>Residence address:</strong>
  <%= @voter.residence_address %>
</p>

<p>
  <strong>Residence city:</strong>
  <%= @voter.residence_city %>
</p>

<p>
  <strong>Residence zip:</strong>
  <%= @voter.residence_zip %>
</p>

<p>
  <strong>Mailing address1:</strong>
  <%= @voter.mailing_address1 %>
</p>

<p>
  <strong>Mailing address2:</strong>
  <%= @voter.mailing_address2 %>
</p>

<p>
  <strong>Mailing address3:</strong>
  <%= @voter.mailing_address3 %>
</p>

<p>
  <strong>Mailing city:</strong>
  <%= @voter.mailing_city %>
</p>

<p>
  <strong>Mailing state:</strong>
  <%= @voter.mailing_state %>
</p>

<p>
  <strong>Mailing zip:</strong>
  <%= @voter.mailing_zip %>
</p>

<p>
  <strong>Mailing country:</strong>
  <%= @voter.mailing_country %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @voter.gender %>
</p>

<p>
  <strong>Cc:</strong>
  <%= @voter.cc %>
</p>

<p>
  <strong>Vh1:</strong>
  <%= @voter.vh1 %>
</p>

<p>
  <strong>Vh2:</strong>
  <%= @voter.vh2 %>
</p>

<p>
  <strong>Vh3:</strong>
  <%= @voter.vh3 %>
</p>

<p>
  <strong>Vh4:</strong>
  <%= @voter.vh4 %>
</p>

<p>
  <strong>Vh5:</strong>
  <%= @voter.vh5 %>
</p>

<p>
  <strong>Vh6:</strong>
  <%= @voter.vh6 %>
</p>

<p>
  <strong>Vh7:</strong>
  <%= @voter.vh7 %>
</p>

<p>
  <strong>Vh8:</strong>
  <%= @voter.vh8 %>
</p>

<p>
  <strong>Vh9:</strong>
  <%= @voter.vh9 %>
</p>

<p>
  <strong>Vh10:</strong>
  <%= @voter.vh10 %>
</p>

<p>
  <strong>Vh11:</strong>
  <%= @voter.vh11 %>
</p>

<p>
  <strong>Vh12:</strong>
  <%= @voter.vh12 %>
</p>

<p>
  <strong>Vh13:</strong>
  <%= @voter.vh13 %>
</p>

<p>
  <strong>Vh14:</strong>
  <%= @voter.vh14 %>
</p>

<p>
  <strong>Vh15:</strong>
  <%= @voter.vh15 %>
</p>

<p>
  <strong>Vh16:</strong>
  <%= @voter.vh16 %>
</p>

<%= link_to 'Edit', edit_voter_path(@voter) %> |
<%= link_to 'Back', voters_path %>
